.nav {
  background-color: rgba(26, 26, 186, 0.568);
  padding: 4rem;
}

.nav ul {
  display: flex;
  list-style-type: none;
  font-size: 1.3rem;
  justify-content: space-between;
  font-weight: bold;
}
